/* Common styles */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --page-color: #ffffff;
  --logo-color: #4d5ae5;
  --hero-background: #2e2f42;
  --logo-background-light: #f4f4fd;
  --border-light-color: #e7e9fc;
}
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list,
ul,
ol {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.link,
a {
  text-decoration: none;
  color: currentColor;
}
.btn,
button {
  font-family: inherit;
  cursor: pointer;
}
.heder-address-list {
  font-style: normal;
}
/* Base styles */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Section styles */
/* Header styles */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  padding: 24px 0;
  display: flex;
  align-items: center;
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.header-logo-studio {
  color: #2e2f42;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-link {
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo-color);
  border-radius: 2px;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.heder-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-address-link {
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
/* Hero styles */
.container-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero {
  background: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/section2/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  padding-bottom: 292;
}
.hero-title {
  /* background-color: #2e2f42; */
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-btn {
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* Description styles  */
.visually-hidden {
}
.description {
  padding: 120px 0;
}
.description-list {
  display: flex;
  gap: 24px;
}
.description-list-item {
  width: calc((100%-3 * 24px) / 4);
  justify-content: space-between;
}
.description-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.description-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.features-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
/* What Are We Doing */
.whatdoing {
  padding: 120px 0;
}
.whatdoing-list {
  display: flex;
  gap: 24px;
}
.what-title-item {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.whatdoing-list-item {
  width: calc((100% - 48px) / 3);
}
/* Team styles  */
.people {
  display: flex;
  gap: 24px;
}
.container-team {
}
.team {
  padding: 120px 0;
  background: #f4f4fd;
}
.team-title {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background: #ffffff;
}
.team-title-item {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.team-item {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
}
.team-content {
  padding: 32px 16px 0 16px;
}
.ourteam-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  margin-bottom: 32px;
}
.ourteam-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--logo-color);
  border-radius: 50px;
  background-color: #4d5ae5;
}
/* Footer styles */
.footer-container {
  display: flex;
}
.container-footer {
  display: flex;
  flex-direction: column;
}
.footer {
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-list {
  width: 264px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.media-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 132px;
}
.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--logo-color);
  border-radius: 50px;
  background-color: #4d5ae5;
}
.media-title {
  margin-left: 120px;
  display: inline-block;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* Portfolio style */
.portfolio {
  padding: 96px 0 120px 0;
}
.portfolio-btn {
  border: 1px solid var(--border-light-color);
  border-radius: 4px;
  padding: 12px 24px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
}
.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-list-btn {
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  margin: 0;
  position: relative;
  overflow: hidden;
}
.portfolio-link {
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Overlay text */
.portfolio-overlay {
}
.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-content {
}
.portfolio-title {
}
.portfolio-item {
}
.overlay {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay-label {
  padding: 40px 32px 164px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--cloud, #f4f4fd);
  background-color: #4d5ae5;
}
.overlay-label .active {
  background-color: #4d5ae5;
  width: 360px;
  height: 300px;
  flex-shrink: 0;
}
/* Clients */
.clients-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.clients-item {
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--hero-background);
  border-radius: 10px;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  margin-bottom: 72px;
}
.clients-section {
  padding-bottom: 120px;
}
.clients-link:hover {
  border-color: #404bbf;
}
.clients-icon {
  fill: rgba(142, 143, 153, 1);
}
.clients-link:hover .clients-icon {
  fill: #404bbf;
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms ease-out, visibility 250ms ease-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  height: 584px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--cornflower, #e7e9fc);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.modal-icon {
}
